{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "cache": false,
  "extension": [".js"],
  "include": ["app.js", "server.js"],
  "exclude": ["coverage/**", "test/**", ".nyc_output/**", "node_modules/**"],
  "require": ["@babel/register"],
  "reporter": ["text", "text-summary", "lcov", "html"],
  "sourceMap": true,
  "instrument": true,
  "checkCoverage": true,
  "branches": 80,
  "lines": 80,
  "functions": 80,
  "statements": 80
}